{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}

<div class="main-container">
  <div class="main wrapper clearfix">
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <section>
        <ul>{{ $data := .Data }}
          {{ range $key,$value := .Data.Index.ByCount }}<li><a href="{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> ({{ $value.Count }})</li>{{ end }}
        </ul>
      </section>
    </article>
  </div> <!-- #main -->
</div> <!-- #main-container -->

{{ template "chrome/footer.html" . }}
