{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
<div class="main-container">
   <div class="main wrapper clearfix">
     {{ range $i, $el := first 10 .Data.Pages }}
     <article class="blog-teaser">
       <header>
         <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
         <span class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words</span>
       </header>
       <section>
         {{ .Summary }}
       </section>
       <div class="clearfix">
         <a href="{{ .Permalink }}" class="btn btn-tales-one">Read more</a>
       </div>
     </article>
     {{ end }}
   </div> <!-- #main -->
</div> <!-- #main-container -->
{{ template "chrome/footer.html" . }}
