{{ $baseurl := .Site.BaseUrl }}
{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
 <div class="main-container">
   <div class="main wrapper clearfix">
     <article>
       <header>
         <h1>{{ .Title }}</h1>
       </header>
       <section>
         {{ .Content }}
       </section>
       <footer class="nav">
         <ul>
           {{if .Next}}<li><a class="next" href="{{.Next.Permalink}}">{{.Next.Title}}</a></li>{{end}}
           {{if .Prev}}<li><a class="previous" href="{{.Prev.Permalink}}"><i class="fa fa-caret-square-o-right fa-fw fa-3x"></i> {{.Prev.Title}}</a></li>{{end}}
         </ul>
       </footer>
       {{ template "chrome/disqus.html" . }}
     </article>
     <aside>
         <p>Posted on {{ .Date.Format "Jan 2, 2006" }}.  About {{ .FuzzyWordCount }} Words.</p>
         {{ range .Params.topics }}<a href="{{ $baseurl }}/topics/{{ . | urlize }}" class="topic btn btn-primary">{{ . }}</a>{{ end }}
         {{ range .Params.tags }}<a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="tag btn btn-primary">{{ . }}</a>{{ end }}
     </aside>
   </div> <!-- #main -->
</div> <!-- #main-container -->

{{ template "chrome/footer.html" . }}
