{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

 <div class="main-container">
   <div class="main wrapper clearfix">
     <article>
       <header>
         <h1>{{ .Title }}</h1>
       </header>
       <section>
         {{ .Content }}
       </section>
       <footer>
         <p>Posted on {{ .Date.Format "Mon, Jan 2, 2006" }}. Approximately {{ .FuzzyWordCount }} Words.</p>
         {{ range .Params.topics }}
         <a href="{{ $baseurl }}/topics/{{ . | urlize }}" class="btn btn-primary">{{ . }}</a>
         {{ end }}
         {{ range .Params.tags }}
         <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="btn btn-primary">#{{ . }}</a>
         {{ end }}
       </footer>
       <footer class="nav">
         <ul>
           {{if .Next}}<li><a class="next" href="{{.Next.Permalink}}">{{.Next.Title}}</a></li>{{end}}
           {{if .Prev}}<li><a class="previous" href="{{.Prev.Permalink}}"><i class="fa fa-caret-square-o-right fa-fw fa-3x"></i> {{.Prev.Title}}</a></li>{{end}}
         </ul>
       </footer>
       {{ template "chrome/disqus.html" . }}
     </article>
   </div> <!-- #main -->
</div> <!-- #main-container -->

{{ template "chrome/footer.html" . }}
