<body lang="en">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
  <div class="header-container">
    <header class="wrapper clearfix">
      <h1 class="title"><a href="/">J3ff</a></h1>
      <nav>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/index.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
  </div>

